In [27]:
import pandas as pd

In [28]:
# CONTADORES
s = pd.Series(list("asdhfiudshfljgvndsrtdzlzvmtyh"))
s

0     a
1     s
2     d
3     h
4     f
5     i
6     u
7     d
8     s
9     h
10    f
11    l
12    j
13    g
14    v
15    n
16    d
17    s
18    r
19    t
20    d
21    z
22    l
23    z
24    v
25    m
26    t
27    y
28    h
dtype: object

In [29]:
# Saber caracteres únicos
s.unique()

array(['a', 's', 'd', 'h', 'f', 'i', 'u', 'l', 'j', 'g', 'v', 'n', 'r',
       't', 'z', 'm', 'y'], dtype=object)

In [30]:
# Uma distribuição de frequência
s.value_counts()

d    4
h    3
s    3
v    2
z    2
l    2
f    2
t    2
n    1
i    1
r    1
j    1
g    1
m    1
u    1
y    1
a    1
dtype: int64

## Faixas de Valor

In [31]:
dados = pd.read_csv("dados/aluguel.csv", sep = ";")
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [32]:
# Contando imoveis com 1 e 2, 3 e 4, e 7 ou mais quartos
# criando uma lista com os limites das faixas
# o minimo que é 0, dps e o segundo limite que é 2, dps o terceiro limite que é 4, e assim por diante
# no entanto, eu não sei o máximo, chutei 100 então, já que pode ter 7 ou mais quartos
# max(dados["Quartos"].unique()), maneira mais elegante que pensei depois...
classes = [0, 2, 4, 6, 100]

quartos = pd.cut(dados["Quartos"], classes)
quartos.head(10)

0    (0, 2]
1    (0, 2]
2    (0, 2]
3    (0, 2]
4    (2, 4]
5    (0, 2]
6    (2, 4]
7    (0, 2]
8    (0, 2]
9    (2, 4]
Name: Quartos, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [33]:
# DUVIDA - qual a diferença desse abaixo para o quartos.value_counts() ??
pd.value_counts(quartos)
# ( significa intervalo aberto, ou seja, o 0 não entra...
# ] significa intervalo fechado, ou seja, o 2 entra...

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [34]:
labels = ["1 e 2 quartos", "3 e 4 quartos", "5 e 6 quartos", "7 quartos ou mais"]
# include_lowerst = True, para incluir o menor valor no caso o 0...
quartos = pd.cut(dados.Quartos, classes, labels = labels)
quartos

0        1 e 2 quartos
1        1 e 2 quartos
2        1 e 2 quartos
3        1 e 2 quartos
4        3 e 4 quartos
             ...
19826    1 e 2 quartos
19827    1 e 2 quartos
19828    1 e 2 quartos
19829    1 e 2 quartos
19830              NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, object): [1 e 2 quartos < 3 e 4 quartos < 5 e 6 quartos < 7 quartos ou mais]

In [35]:
pd.value_counts(quartos)

1 e 2 quartos        11074
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: Quartos, dtype: int64

## Outliers e Quartis

In [37]:
imoveis = pd.read_csv("dados/aluguel_amostra.csv", sep = ";")
imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracanã,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,São Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento

In [43]:
# Quartis do Valor m2
valor_m2 = imoveis["Valor m2"]
Q1 = valor_m2.quantile(.25)
Q3 = valor_m2.quantile(.75)

IQR = Q3 - Q1
limite_inf = Q1 - 1.5 * IQR
limite_sup = Q3 + 1.5 * IQR

In [46]:
print("Q1: %.2f\nQ3: %.2f\nIQR: %.2f\nlimite inferior e superior: %.2f, %.2f" % (Q1, Q3, IQR, limite_inf, limite_sup))

Q1: 21.25
Q3: 42.31
IQR: 21.06
limite inferior e superior: -10.34, 73.90